.page {
    padding: 15px;
    font-family: poppins;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.location {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
}

.search-box {
    display: flex;
    align-items: center;
    background: #f1f1f1;
    padding: 8px 12px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.search-box input {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    margin-left: 8px;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 13px;
    color: #666;
}

input {
    border: none;
    border-bottom: 1px solid #dedede;
    padding: 5px 0;
    width: 100%;
    font-size: 14px;
}

.address-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dedede;
}

.address-row i {
    margin-right: 5px;
}

.sharing {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.sharing>div {
    text-align: center;
    border: 1px solid #ff5b00;
    border-radius: 10px;
    padding: 5px 10px;
    width: 50px;
}

.sharing>div.active {
    background: #ff5b00;
    color: white;
}

.count {
    font-size: 14px;
    font-weight: 600;
}

.price {
    font-size: 12px;
    margin-top: 4px;
}

.create-btn {
    width: 100%;
    margin-top: 30px;
    background: #ff5b00;
    color: white;
    padding: 12px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
}
.preview{
    width: 100px;
}