.chat-page{height:100vh;display:flex;flex-direction:column;font-family:sans-serif;}

.top-bar{
  height:60px;display:flex;align-items:center;justify-content:space-between;
  padding:0 20px;font-size:18px;font-weight:600;border-bottom:1px solid #eee;
}

.chat-body{
  flex:1;
  overflow-y:auto;
  overflow-x:hidden;
  padding:20px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.msg{
  max-width:80%;
  padding:12px 16px;
  border-radius:20px;
  font-size:14px;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.msg.me{
  background:#ff5722;
  color:#fff;
  border-bottom-right-radius:0;
  margin-left:auto;
}

.msg.other{
  background:#eee;
  color:#000;
  border-bottom-left-radius:0;
  margin-right:auto;
}

.msg.short{max-width:50%}
.msg.long{max-width:80%}


.input-box{
  height:65px;display:flex;align-items:center;
  border-top:1px solid #eee;padding:10px 20px;gap:10px;
}

.input-box input{
  flex:1;background:#f5f5f5;border-radius:20px;border:none;padding:12px 18px;outline:none;
}

.input-box button{
  width:45px;height:45px;border-radius:50%;border:none;background:#ff5722;color:#fff;
}
