.home-page{
  padding: 15px;
  font-family: poppins;
}

.top-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.location{
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.search-box{
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: #f1f1f1;
  padding: 6px 12px;
}
.search-box input{
  border: none;
  background: transparent;
  width: 100%;
  margin-left: 10px;
  outline: none;
}

.banner img{
  width: 100%;
  border-radius: 10px;
  margin: 20px 0;
}

.cat-title{
  font-size: 14px;
  margin-bottom: 10px;
}

.category-buttons{
  display: flex;
  gap: 10px;
}
.category-buttons button{
  padding: 6px 12px;
  background: white;
  border: 1px solid #ff5b00;
  border-radius: 20px;
  font-size: 12px;
  color: #ff5b00;
}
.category-buttons .active{
  background: #ff5b00;
  color: white;
}

.hostels{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.card{
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

.card img{
  width: 100%;
  border-radius: 8px;
}

.card h5{
  font-size: 13px;
  margin: 4px 0 2px;
}

.card span{
  font-size: 10px;
  color: gray;
}

.rating{
  font-size: 12px;
  font-weight: 600;
  color: #ff9900;
}

.create-btn{
  margin-top: 30px;
  width: 100%;
  background: #ff5b00;
  padding: 10px;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  border: none;
}
